body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #800000;
    color: white;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

.dropdown-menu-right{
    left: -128px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header{
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul{
    background-color: #ddd;
}

.list-group-item :first-child{
    margin-right: 0.75rem;
}

.navbar-dark .navbar-toggler{
    border-color: transparent;
}

.card-header {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item.deck-item {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

#deck-add-btn {
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: none;
  display: none;
}

#addCardButton {
  font-size: 1.5rem;
  font-weight: 300;
  color: #800000;
  text-decoration: none;
  display: block;
}

#addCardButton:hover {
  color: #343a40;
}

#roseLogo{
    max-width: 350px;
    margin: auto;
    display: block;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    font-size: 1.1em;
    background: #800000;
    padding: 10px 30px;
    border-radius: 5px;
}

.textInputContainer{
    display: inline-block;
}

#cardList{
    min-width: 100%;
}

#listContainer{
    padding: 0;
}

#menuDelete{
    display: none;
}

#removeCardHint{
    margin: auto 0 0 auto;
}